*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    padding: 3rem;
    border-radius: 6px;
    box-shadow: 0px 0px 2px 2px rgb(171, 170, 170);
}

.box{
    margin-top: 2rem;
    border-left: 4px solid #007bff;
    background-color: rgb(220, 220, 220);
    padding: 20px;
    font-style: italic;
    border-radius: 4px;
}
